<h1>Welcome to YourCalories</h1>
<p>
  Figuring out how many calories you need to consume per day based on your goals is hard.<br>
  Our bodies are different to one another, and general rules aren't good enough.<br>
  If you'd like to know exactly how much you need to eat per day, sign up!
</p>
<h2><%= link_to 'Sign up', new_user_registration_path %> </h2>
<h2><%= link_to 'Log in', new_user_session_path %></h2>
