<h1>Edit your profile</h1>
<%= form_for @profile, url: { action: "update", params: { id: @profile.id } } do |f| %>
  <%= f.label :goal %>
  <%= f.select :goal, [['Gain weight', 'gain'], ['Maintain weight', 'maintain'], ['Lose weight', 'lose']], :prompt => 'Select one' %>
  <%= f.submit %>
<% end %>
